body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #007acc;
    margin-top: 50px;
}

p {
    font-size: 18px;
    margin: 20px;
}

button {
    background-color: #007acc;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFFFFF;
}
